/*
Copyright 2018 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

* {
	font-family: sans-serif;
}


html {
	height: 50%;
    display: table;
    margin: auto;
}

body {
	color: white;
	background-color:#282c34;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	display: table-cell;
    vertical-align: middle;
	height: 100%;
	/* height: 100vh; */
}
#drop-area {
	width: 200px;
	height: 100px;
	border: 2px dashed gray;
	padding: 20px;
	text-align: center;
	font-size: 12px;
  }

#drop-area.highlight {
background-color: lightgray;
}
#logoimg{
	width: 250px;
	height: 125px;
}
.btn-container { 
	height: 50px;
	position: relative;
}

.btn-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#run-btn{
	background-color: #008CBA; 
	border: none;
	color: white;
	font-weight: bolder;
	padding: 12px 24px;
	/* text-align: center; */
	/* text-decoration: none; */
	/* display: inline-block; */
	font-size: 16px;
}
#progress-container {
	width: 100%;
	margin-top: 5%;
	background-color: grey;
	visibility: hidden;
	text-align: center;

}

#pBar {
	width: 1%;
	height: 20px;
	text-align: center;
	background-color: green;

}
#fnameProcessing{
	margin-top: 1%;
	text-align: center;
}

/* The toaster - position it at the bottom and in the middle of the screen */
#toaster {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -142px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the toaster */
	bottom: 30px; /* 30px from the bottom */
	font-size: 10px;
  }
  
  /* Show the toaster when clicking on a button (class added with JavaScript) */
  #toaster.show {
	visibility: visible; /* Show the toaster */
	/* Add animation: Take 0.5 seconds to fade in and out the toaster.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the toaster in and out */
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  #footer{
	display: table;
	color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	font-size: 10px;
	text-decoration: none;

  }
#file-input{
	font-size: 10px;
}